<div class="content">
  <div class="cards">
    <% @bikes.each do |bike| %>
      <div class="cardbike">
        <div class="card-trip">
          <%= image_tag bike.photo %>
        </div>
        <div class="card-trip-infos">
          <i class="far fa-heart" id="icone-add-like"></i>
          <div class="name-description">
          <h3> <%= bike.name %> </h3>
          <p> <%= bike.description %> </p>
          </div>
          <div class="star">
          <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
            </div>
          <p class="card-trip-pricing"> <%= bike.price %> €</p>
          <a class="btn btn-ghost" href="#">Découvrir</a>
     </div>
      </div>
    <% end %>
  </div>
  <div id="map"
       style="width: 40%; height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
 <!-- <i class="fas fa-heart"></i>-->
